[submodule "repos/KnowledgeGraphBuilder"]
	path = repos/KnowledgeGraphBuilder
        url = git@github.com:DataScienceLabFHSWF/KnowledgeGraphBuilder.git

[submodule "repos/GraphQAAgent"]
        path = repos/GraphQAAgent
        url = git@github.com:DataScienceLabFHSWF/GraphQAAgent.git

[submodule "repos/OntologyExtender"]
        path = repos/OntologyExtender
        url = git@github.com:DataScienceLabFHSWF/OntologyExtender.git
